
.container{
    width: 1200px;
    height: 1000px;
    display: flex;
    border-radius: 10px solid black;
}

.forms
{
    width: 600px;
    height: 600px;
    background-color: rgb(181, 235, 203);
    display: flex;
    color: black;
    font-size: medium;
    font-style: oblique;
    border-radius: 5px solid black;
    padding: 50px;

}

.input-group
{
    width: inherit;
}
