
<app-navbar></app-navbar>
<div class="container d-flex" >
  <div class="forms d-flex flex-column">
    <h1>Add Employee </h1>
    <form
      class="row needs-validation d-flex flex-column"
      [formGroup]="profileForm"
      (ngSubmit)="submit()"
    >
    <div class="col-12" *ngIf="updateButtonShow">
      <label for="validationCustomUsername" class="form-label"
        >Unique Id</label
      >
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control"
          formControlName="iD"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          [disabled]="true"
        />
      </div>
      </div>
      <div class="col-12">
        <label for="validationCustom01" class="form-label">Employee Name</label>
        <div class="input-group has-validation">
          <input
            type="text"
            class="form-control"
            formControlName="employeeName"
            id="validationCustom01"
            value="Mark"
            required
          />
          <p
            *ngIf="
              (profileForm.controls['employeeName'].touched &&
                profileForm.controls['employeeName'].hasError('required')) ||
              profileForm.controls['employeeName'].hasError('pattern')
            "
            style="color: red"
          >
            PLease Enter a valid name
          </p>
        </div>
      </div>
      <div class="col-12">
        <label for="validationCustomUsername" class="form-label">Departments</label>
        <div class="input-group has-validation">
          <textarea
            class="form-control"
            formControlName="departments"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            row=1
            ></textarea>
          <p
            *ngIf="
              (profileForm.controls['departments'].touched &&
                profileForm.controls['departments'].hasError('required'))
            "
            style="color: red"
          >
            Please Enter Department
          </p>
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustomUsername" class="form-label"
          >Salary </label
        >
        <div class="input-group has-validation">
          <input
            type="number"
            class="form-control"
            formControlName="salary"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
          />
          <p
            *ngIf="
              (profileForm.controls['salary'].touched &&
                profileForm.controls['salary'].hasError('required')) 
            "
            style="color: red"
          >
            PLease Enter Salary
          </p>
        </div>
      </div>
      <div class="col-md-6" style=" margin: 50px;">
        <button class="btn btn-primary" type="submit">Add User</button>
      </div>
      <div class="col-md-6" *ngIf="updateButtonShow" >
        <button class="btn btn-primary" type="button" (click)="updateUser(this.profileForm.value['iD'])">Update</button>
      </div>
    </form>
  </div>
  <div>
    <app-tabel-view [user]="UserArray" (editRequest)="update($event)"></app-tabel-view>
  </div>
</div>
